@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #00796B;
    --secondary-color: #C4C4C4;
}

html,
body {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    outline: none;
}

.levitar {
    animation-name: levitar;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes levitar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}