main {
    display: flex;
    min-height: 100vh;
}

main section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0.5;
}

main section h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 20px 0px;
}

main section p {
    line-height: 25px;
}

main section.content-wrapper>a {
    width: 30%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 5px 0px;
}

main section.content-wrapper>a:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
}

main section.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

main>section.logo-wrapper>img {
    width: 90%;
}